html {
  font-size: 14px;
}

.hide-desktop {
  display: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .hide-mobile, #nav-icon2 {
    display: none;
  }

  .hide-desktop {
    display: flex;
  }
}

header {
  height: 100vh;
  background-image: url(assets/img/BMW-S1000R-bg2.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header a {
  color: #fff;
}

/* ================= 3.0 Burger Menu ========= */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition-property: width;
  transition-duration: 0.8s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header {
  transition-duration: 0.8s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.4em;
  color: #222;
  display: block;
  transition: 0.3s;
}

.open-close {
  width: 50%;
  transition-property: width;
  transition-duration: 0.8s;
}

.sidenav a:hover {
  color: #f1f1f1;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sandwich {
  color: white;
  padding-left: 20px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  position: fixed;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 14px;
  }

  .mobile {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .flex {
    margin-top: 60px;
  }
}

/* ============= 4.0 Burger Menu icon ========= */
#nav-icon2 {
  width: 35px;
  height: 45px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 10px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 20px;
}

#nav-icon2 .open {
  position: fixed;
}

#nav-icon2 .open span {
  color: #222 !important;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 1px;
  top: 6px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 0;
  top: 20px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

.container {
  max-width: 960px;
}

main {
  padding-top: 88px;
}

/* Arrow back-to-top */
#back-to-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 42px;
  text-align: center;
  line-height: 40px;
  background: blue;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #e9ebec;
  color: blue;
  font-weight: bold;
  transition: 0.3s;
  transform: translateY(-3px);
}

#back-to-top.show {
  opacity: 0.7;
}