html {
  font-size: 14px;
}

body {
  font-size: 100%;
  color: #fff;
}

.tablet {
  display: none;
}

header {
  height: 100vh;
  background-image: url(assets/img/BMW-S1000R-bg2.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: 43%;
  background-size: cover;
}

header a {
  color: #fff;
}

.menu-icon-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#header-img {
  width: 50px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 20px 10px;
  margin: 10px 10px;
  text-decoration: none;
  font-size: 13px;
  color: #222;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* burger animation */
.menu-toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 16px;
  background: transparent;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: #fff;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before, .menu-toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button {
  z-index: 5;
}

button:focus {
  outline: none;
}

button:hover {
  color: #fff;
}

button.is-active {
  border-color: transparent;
  color: #222;
}

#mySidenav.is-active {
  width: 50%;
}

button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

/* end burger animation */
.title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.title h1 {
  font-size: 16px;
  font-size: 1.143em;
  font-weight: 100;
}

.title span {
  display: block;
  font-size: 24px;
  font-size: 1.714em;
  font-weight: 400;
}

.header-bottom {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.speedometer {
  position: relative;
  height: 30px;
  width: 48px;
  display: inline-block;
  background-image: url(assets/img/speedometer.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.speedometer-circle {
  position: absolute;
  width: 33px;
  height: 17px;
  bottom: 4px;
  left: 7px;
  overflow: hidden;
  background-image: url(assets/img/speedometercircle.svg);
}

.speedometer-circle-inner {
  position: absolute;
  width: 33px;
  height: 17px;
  bottom: 0;
  left: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.speedometer-needle {
  position: absolute;
  width: 5px;
  height: 19px;
  bottom: 3px;
  left: 21.5px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-transform-origin: 50% 15px;
  transform-origin: 50% 15px;
  background-image: url(assets/img/speedometerneedle.svg);
}

/* end of header */
.container {
  max-width: 960px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

main {
  padding-top: 50px;
  color: #222;
}

/* Arrow back-to-top */
#back-to-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 42px;
  text-align: center;
  line-height: 40px;
  background: blue;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #e9ebec;
  color: blue;
  font-weight: bold;
  transition: 0.3s;
  transform: translateY(-3px);
}

#back-to-top.show {
  opacity: 0.7;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .tablet {
    display: block;
  }

  .mobile {
    display: none;
  }

  #nav-bar {
    display: inline-flex;
    justify-content: flex-end;
  }

  #nav-bar a {
    transition: 0.3s;
  }

  #nav-bar a:hover {
    color: #fff;
    opacity: 0.6;
  }
}