/*--------------------------------------------------------------
1.0 Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 100;
  src: local('Gotham Thin Italic'), local('Gotham-ThinItalic'), url("assets/fonts/Gotham/Gotham-ThinItalic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: local('Gotham Light Italic'), local('Gotham-LightItalic'), url("assets/fonts/Gotham/Gotham-LightItalic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: local('Gotham Italic'), local('Gotham-Italic'), url("assets/fonts/Gotham/Gotham-Italic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Medium Italic'), local('Gotham-MediumItalic'), url("assets/fonts/Gotham/Gotham-MediumItalic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 700;
  src: local('Gotham Bold Italic'), local('Gotham-BoldItalic'), url("assets/fonts/Gotham/Gotham-BoldItalic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 900;
  src: local('Gotham Black Italic'), local('Gotham-BlackItalic'), url("assets/fonts/Gotham/Gotham-BlackItalic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  src: local('Gotham Thin'), local('Gotham-Thin'), url("assets/fonts/Gotham/Gotham-Thin.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: local('Gotham Light'), local('Gotham-Light'), url("assets/fonts/Gotham/Gotham-Light.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham'), local('Gotham-Regular'), url("assets/fonts/Gotham/Gotham-Regular.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Medium'), local('Gotham-Medium'), url("assets/fonts/Gotham/Gotham-Medium.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham Bold'), local('Gotham-Bold'), url("assets/fonts/Gotham/Gotham-Bold.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  src: local('Gotham Black'), local('Gotham-Black'), url("assets/fonts/Gotham/Gotham-Black.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*--------------------------------------------------------------
2.0 General
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 100%;
  /* -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory; */
  color: #fff;
}

.tablet {
  display: none;
}

.container {
  max-width: 960px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/
header {
  height: 100vh;
  background-image: url(img/BMW-S1000R-bg2.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: 43%;
  background-size: cover;
}

header a {
  color: #fff;
}

#header-img {
  width: 50px;
}

/* Menu */
.menu-icon-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 20px 10px;
  margin: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  color: #222;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.sidenav a:last-child {
  border-bottom: 0;
}

.sidenav a:hover {
  color: #222;
  opacity: 0.8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mySidenav.is-active {
  width: 50%;
}

/* Menu burger icon */
.menu-toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 16px;
  background: transparent;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: #fff;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before, .menu-toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: -webkit-transform 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.menu-toggle {
  z-index: 5;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle:hover {
  color: #fff;
}

.menu-toggle.is-active {
  border-color: transparent;
  color: #222;
}

.menu-toggle.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.arrow-down {
  /* center element at bottom */
  width: 24px;
  position: absolute;
  bottom: 0;
  right: 25%;
  left: 50%;
  margin-left: -12px;
  padding-bottom: 8px;
}

/* end burger icon animation */
.title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.title h1 {
  font-size: 16px;
  font-size: 1.143em;
  font-weight: 100;
}

.title span {
  display: block;
  font-size: 24px;
  font-size: 1.714em;
  font-weight: 400;
}

.header-bottom {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.header-bottom .col-4 {
  border-right: 1px solid #fff;
  opacity: 0.9;
}

.header-bottom .col-4:last-child {
  border-right: 0;
}

.header-bottom p:first-child {
  font-size: 16px;
}

.header-bottom p:nth-child(2) {
  font-size: 9.3px;
}

/* end of header */
/*--------------------------------------------------------------
3.0 Main
--------------------------------------------------------------*/
main {
  color: #222;
}

.section {
  padding-top: 40px;
}

.section h2 {
  font-weight: 400;
}

.section p {
  padding-bottom: 24px;
  font-weight: 100;
  line-height: 1.6;
}

.img-bg-dynamics {
  height: 320px;
  width: auto;
  background-image: url(img/BMW-S1000R-front-small.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-bg-engine {
  height: 320px;
  width: auto;
  background-image: url(img/BMW-S1000R-willy-small.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.img-bg-adjustments {
  height: 320px;
  width: auto;
  background-image: url(img/bmw-youtube-small.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  padding-bottom: 50px;
}

/* buttons */
.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-plus {
  background: transparent;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-more {
  padding-left: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.cta a {
  margin-left: 16px;
  padding: 8px 30px;
  font-size: 12px;
  color: #222;
  border: 2px solid #222;
  border-radius: 100px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cta a:hover,
.btn-plus:hover {
  text-decoration: none;
  background-color: #222;
  color: #fff;
}

/* form */
input[type="submit"] {
  padding: 8px 30px;
  font-size: 12px;
  color: #222;
  background: transparent;
  border: 2px solid #222;
  border-radius: 100px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="submit"]:hover {
  text-decoration: none;
  background-color: #222;
  color: #fff;
}

/*--------------------------------------------------------------
4.0 Footer
--------------------------------------------------------------*/
footer {
  margin-top: 40px;
  color: #222;
  border-top: 1px solid #222;
  text-align: center;
}

footer p {
  margin: 20px;
  padding: 20px;
}

/*--------------------------------------------------------------
5.0 Animations
--------------------------------------------------------------*/
/* Arrow back-to-top */
#back-to-top {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 2;
  width: 24px;
  height: 18px;
  text-align: center;
  line-height: 40px;
  color: white;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

#back-to-top.show {
  opacity: 0.7;
}

.arrow-up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*--------------------------------------------------------------
6.0 Media queries
--------------------------------------------------------------*/
/* tablets and above */
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .tablet {
    display: block;
  }

  .mobile {
    display: none;
  }

  #nav-bar {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  #nav-bar a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  #nav-bar a:hover {
    color: #fff;
    opacity: 0.6;
  }

  .menu-icon-flex img {
    position: fixed;
  }

  .img-bg-dynamics {
    height: 500px;
    background-image: url(img/BMW-S1000R-front-big.jpg);
  }

  .img-bg-engine {
    height: 820px;
    background-image: url(img/BMW-S1000R-willy-big.jpg);
    background-position: 30%;
  }

  .img-bg-adjustements {
    height: 820px;
    background-image: url(img/bmw-youtube-big.jpg));
    background-position: 30%;
  }
}

/* only tablets */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .title {
    margin-top: 64px;
  }
}

/* only desktop or large tablets */
@media (min-width: 1024px) {
  .title {
    position: absolute;
    top: 200px;
    left: 200px;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJmaWxlIjoibWFpbi5jc3MifQ== */

/*# sourceMappingURL=main.css.map */
